@font-face {
    font-family: Neue;
    src: url("../fonts/BebasNeue-Regular.woff");
}
@font-face {
    font-family: Comic-neue;
    src: url(../fonts/BebasNeue-Regular.woff);
}
@font-face {
    font-family: ComicNeue_italic;
    src: url(../fonts/ComicNeue-Italic.woff);
}